@import '../../styles/variables';
@import '../../styles/mixins/paragraph.scss';

.actionSidebarContainer {
    background-color: $gray-2;
    .innerContainer {
        margin: 50px 40px;

        .testAnimation {
            padding: 10px 0;
            display: flex;
            justify-content: flex-start;
        }

        .playButtonContainer {
            .updateBtn {
                margin-top: 20px;
            }
        }

        .about {
            a {
                @include paragraph(14px, #ffffff, 0.42px);
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    color: $purple;
                }
            }
        }
    }
}