@import '../../styles/variables';
@import '../../styles/mixins/paragraph';

.segmentsHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    .button {
        background: transparent;
        border: none;
        box-shadow: none;
        width: fit-content;
        display: flex;
        align-items: center;
        &:last-of-type {
            @include paragraph(14px, #fff);
            font-weight: 400;
            &:hover {
                text-decoration: underline;
            }
        }
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
            p {
                text-decoration: underline;
                cursor: inherit;
            }
        }
    }
    .addIconContainer {
        div {
            position: relative;
            top: -2px;
        }
        width: 16px;
        height: 16px;
        background-color: $purple;
        padding: 3px;
        border-radius: 100%;
    }
    p {
        @include paragraph(15px, #fff);
        font-weight: 600;
        margin-left: 10px;
    }
}

.previewContainer {
    .innerContainer {
        margin: 0 80px;
        padding: 50px 0;
    }
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
    &::-webkit-scrollbar-thumb {
        background: #3C3F48;
        border-radius: 20px;
        position: relative;
    }
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        margin: 30px 0;
    }
}