@import '../../styles/variables';
@import '../../styles/mixins/paragraph';

.segmentsHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .button {
        background: transparent;
        border: none;
        box-shadow: none;
        width: fit-content;
        display: flex;
        align-items: center;
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
        }
    }
    &:hover {
        cursor: pointer;
        p {
            text-decoration: underline;
            cursor: inherit;
        }
    }
    .addIconContainer {
        div {
            position: relative;
            top: -2px;
        }
        width: 16px;
        height: 16px;
        background-color: $purple;
        padding: 3px;
        border-radius: 100%;
    }
    p {
        @include paragraph(15px, #fff);
        font-weight: 600;
        margin-left: 10px;
    }
}