@import "../../styles/variables";
@import "../../styles/mixins/paragraph";
@import "../../styles/mixins/heading";

.userSettingsModal {
  width: 500px;

  .topContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1 {
      @include heading();
      font-size: 25px;
      letter-spacing: 0.75px;
      text-align: center;
      margin: 10px 0;
    }
    p {
      @include paragraph(14px, #ffffff, 0.42px);
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
  .footerBtnContainer {
    display: flex;
    justify-content: space-between;
    .btnClass {
      button {
        height: 45px;
      }
    }
  }
  
  .inputContainer {
    p {
      @include paragraph(14px, #fff, 0.39px);
      margin: 0;
    }
  }
}