@import '../../../styles/variables';
@import '../../../styles/mixins/paragraph.scss';

.instructionContainer {
    margin: 0 20px;
    padding: 20px;

    p {
        @include paragraph(14px, $gray-4);
        letter-spacing: 0.42px;
    }

    &.noPadding {
        padding: 0;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
        position: relative;
        transition: all .4s ease;

        &:before {
            content: 'Hide infobox';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba($color: $gray-5, $alpha: 0.8);
        }
    }
}