@import '../../../styles/variables';
@import '../../../styles/mixins/paragraph.scss';

.instructionContainer {
    padding: 30px;
    p {
        @include paragraph(14px, $gray-4);
        letter-spacing: 0.42px;
    }
    &.noPadding {
        padding: 0;
    }
}