@import '../../styles/variables';

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
    .oneButton {
        &.playPause {
            background: rgba($color: $purple, $alpha: 1.0);
            width: 140px;
            height: 140px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
}