@import '../../styles/variables';

.mainContainer {
    div {
        &:focus {
            outline: none;
        }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    .top {
        display: flex;
        flex: 1;
        justify-content: center;
        img {
            transform: scale(1.5);
            display: flex;
            align-self: flex-end;
        }
    }
    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex: 1;
        width: 80%;
        .oneButton {
            &:first-of-type {
                position: absolute;
                left: 0;
            }
            &:last-of-type {
                position: absolute;
                right: 0;
            }
            &.playPause {
                background: rgba($color: $purple, $alpha: 1.0);
                width: 140px;
                height: 140px;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &.dirButton {
                transform: scale(2);
            }
        }
    }
    .bottom {
        display: flex;
        flex: 1;
        img {
            transform: scale(1.5);
            display: flex;
            align-self: flex-start;
        }
    }
}