@import '../../styles/mixins/paragraph.scss';

.actionHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    padding-top: 40px;

    &.alignEnd {
        justify-content: flex-end;
    }
    .actionList {
        list-style-type: none;
        display: inline-flex;
        li {
            margin-right: 10px;
        }
    }
    .loggedInActionList {
        list-style-type: none;
        display: inline-flex;
        li {
            margin-right: 20px;
        }
    }
}

.modal {
    padding: 30px;

    h3 {
        @include paragraph(14px, #ffffff);
        font-weight: 300;
        margin: 0;
        margin-bottom: 20px;
        max-width: 500px;
    }

    p {
        @include paragraph(14px, #ffffff);
    }

    .buttonContainer {
        display: flex;
        padding-top: 30px;
        button {
            margin: 0 10px;
            font-weight: 300;
        }
    }
}

.metaContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-right: 10px; 
    }

    &.hidden {
        display: none;
    }
}