@import '../../styles/variables';

.btnList {
	display: flex;
	list-style-type: none;
	li {
		margin-right: 20px;
	}
}

.innerContainer {
	display: flex;
	align-items: center;
}

.topHeaderRoot {
	padding-left: 0;
	padding-right: 0;
	background: rgba($color: $gray-1, $alpha: 1.0);

	.logoContainer {
		width: 25%;
		justify-content: center;
		display: flex;
		position: relative;
		left: 20px;
	}

	.middleContainer {
		flex: 1;
		display: flex;
		justify-content: space-between;
	}

	.rightContainer {
		width: 25%;
	}
}