@mixin paragraph($size:12px, $color: #fff, $letter-spacing:1.2px) {
    margin: 0;
    padding: 0;
    color: $color;
    font-family: 'Barlow';
    letter-spacing: $letter-spacing;
    font-size: $size;
}