@import '../../styles/variables';
@import '../../styles/mixins/paragraph';

.textEditorContainer {
    height: 100vw;
    overflow: hidden;
    margin: 0 25px;
    .textArea {
        width: 100%;
        height: 100%;
        resize: none;
        border: none;
        background-color: $gray-2;
        color: #fff;
        border-radius: 20px;
        font-family: 'Barlow';
        letter-spacing: 1.2px;
    }
}