@import '../../styles/variables';
@import '../../styles/mixins/paragraph';

.textEditorContainer {
    height: 100%;
    margin: 0 20px;
    padding: 20px;

    .textArea {
        width: 100%;
        height: 33vw;
        resize: none;
        border: none;
        background-color: $gray-2;
        color: #fff;
        border-radius: 20px;
        font-family: 'Barlow';
        letter-spacing: 1.2px;
        &:focus {
            outline: none;
        }
    }
}