@import "../../styles/variables";

.mobileContainer {
	.mobileLogo {
		padding-bottom: 60px;
	}

	display: flex;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	.innerContainer {
		display: flex;
		justify-content: center;
		position: relative;

		span {
			text-align: center;
		}

		.goBtn {
			width: 85px;
			height: 45px;
			position: absolute;
			bottom: 0;
			right: 0;
			button {
				max-width: 100%;
				max-height: 100%;
				border: 2px solid $gray-1;
			}
		}

		.input {
			margin: 0;
		}
	}
}